<main class="landing">
  
</main>

<section class="intro flx-col" data-observing="true">
  <div class="flx-row mid-content-width">
    <div class="bg-img surf-outline"></div>
      <div class="flx-col">
        <h1 class="ff-Met">{{{ getString "title"}}}</h1>
        {{#each (landingCopy)}}
          <p class="body-text txt-dark">{{ this }}</p>
        {{/each}}
      </div>
  </div>
</section>

<section class="people" data-observing="true">
  
</section>"
