* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Metropolis/Metropolis-Light.woff2") format("woff2");
}

:root {
  --mainImgHeight: 500px;
  --maxHeaderHeight: 125px;
  --bgDark: rgba(0, 0, 0, 1);
  --darkTextColor: rgba(0, 0, 0, .9);
  --darkHeadlineColor: var(--bgDark);
  --lightHeadlineColor: rgba(255, 255, 255, 1);
  --maxBodyCopyWidth: 600px;
  --Metropolis: "Metropolis", sans-serif;
  --mobileMenuTransitions: visibility 0.3s ease, transform 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
  --mozBlue: #595cf3;
  --mozBlue03: #595cf331;
  --mozDarkBlue: #00458b;
  --mozDarkGreen: #005e5e;
  --mozDarkGrey: #959595;
  --mozDarkPurple:  #6e008b;
  --mozGrey:  #e7e5e2;
  --mozLightYellow: #fff44f;
  --mozNeonBlue: #00ffff;
  --mozNeonBlue03: #00ffff42;
  --mozNeonGreen: #54ffbd;
  --mozWarmRed: #ff4f5e;
  --padding: 2rem;
  --sectionHeadline: 3rem;
  --transparent: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: var(--darkTextColor);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.show-mobile {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  animation: fadeIn 1s ease-out forwards;
}

.fade-up {
  transform: translateY(30px);
  transition: transform 0.3s ease;
}

.init-fade-up {
  transform: translateY(0px);
  transition: transform 0.3s ease;
}

/* .draw-border::before {
  content: "";
  display: inline-block;
  width: 1px;
  position: absolute;
  left: -4rem;
  background-color: var(--mozGrey);
  animation: drawBorder 3s forwards;
} */


a,
a:hover,
a:focus,
a:active,
button,
button:hover,
button:focus,
button:active {
  /* transition: all 0.3s ease; */
}

.nested-text-link {
  padding: 2px 4px;
  margin-left: -4px;
  margin-right: -4px;
  color: var(--inherit);
  background-color: var(--transparent);
  border-radius: 4px;
  text-underline-offset: 0px;
  text-underline-position: under;
}

.nested-text-link:hover {
  background-color: var(--mozNeonBlue03);
}

.mobile-menu-z-index-hack {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
  z-index: 1;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-auto {
  margin: auto;
}

.rel {
  position: relative;
}

.max-content-width {
  max-width: 1200px;
  width: 100%;
}

.body-copy-width {
  max-width: var(--maxBodyCopyWidth);
  width: 100%;
}

section {
  width: 100%;
  align-items: center;
}

.content-section {
  padding: calc(var(--padding) * 3) var(--padding);
}

.body-text {
  margin: 0 auto 1rem auto;
  line-height: 1.8;
  font-weight: 400;
  max-width: var(--maxBodyCopyWidth);
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.show-mobile {
  display: none;
}

.h-padding {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.hl-light {
  color: var(--lightHeadlineColor);
}

.ff-Met {
  font-family: var(--Metropolis);
}

.bold {
  font-weight: 800;
}

.light {
  font-weight: 400;
}

.txt-dark {
  color: var(--darkTextColor);
}

.logo-wrapper {
  background: var(--bgDark);
  width: 6rem;
  min-width: 6rem;
}

.landing-header-logo {
  height: 8rem;
}

.slide-in-header-logo {
  height: 3.25rem;
}

.surf-header {
  font-size: 2rem;
  background-image: url("/img/surf-light.svg");
  color: rgba(0, 0, 0, 0);
  margin: auto auto calc(var(--padding) / 2) auto;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.header-full-title {
  padding-top: calc(var(--padding) / 2);
  font-size: .95rem;
  line-height: 1.1;
}

.landing-header-title {
  margin: auto auto calc(var(--padding) / 2) calc(var(--padding) / 2);
}

.fixed-header-full-title {
  margin: auto auto calc(var(--padding) / 2) auto;
  max-width: 50%;
  white-space: nowrap;
}

.title-Mozilla {
  display: block;
}

.header-menus {
  margin: calc(var(--padding) / 2) 0 0 auto;
}

.contact-menu {
  margin: auto 0 auto auto;
  justify-content: flex-end;
  display: flex;
}

.desktop-nav {
  margin: auto 0 0 auto;
}

.landing-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 var(--padding);
  background-color: rgba(255, 255, 255, 1);
  transition: top 0.3s ease;
}

.slide-in-header .landing-header {
  top: -100px;
  transition: top 0.5s ease;
}

.nav-link {
  color: var(--darkTextColor);
  text-decoration: none;
  align-content: flex-end;
  font-size: .95rem;
  font-weight: 500;
  margin: auto 0 0 4vw;
  padding-bottom: calc(var(--padding) / 2);
}

.twitter {
  background-image: url("/img/twitter.svg");
}

.email-link {
  background-image: url("/img/email-icon.svg");
}

.contact-link {
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
  width: 1.25rem;
  height: 1rem;
  margin-left: 1rem;
  opacity: .9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: var(--maxHeaderHeight);
  z-index: 1;
}

.fixed-header {
  z-index: 1;
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  transition: top 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.fixed-header .surf-header {
  margin: 0;
}

.fixed-header .nav-link {
  font-weight: 500;
}

.fixed-header .title-Mozilla {
  display: inline-block;
}

.fix-header .fixed-header {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
  right: 0;
  top: 0;
  transition: top .3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-menu {
  position: absolute;
  right: 2rem;
}

/* landing page */

h1 {
  top: 0;
  left: 0;
  font-size: var(--sectionHeadline);
  margin: 0;
}

h2 {
  font-size: var(--sectionHeadline);
  font-family: var(--Metropolis);
  font-weight: 400;
  margin-top: 0;
}

.content-left {
  width: 33%;
  position: absolute;
}

.intro {
  padding-top: var(--mainImgHeight);
  background-image: url("/img/landing.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: var(--maxHeaderHeight);
  padding-bottom: 4rem;
}

.intro-bg-white {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.landing {
  z-index: 0;
  background-image: url("/img/landing.jpg");
  min-height: var(--mainImgHeight);
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: var(--maxHeaderHeight);
  left: 0;
  right: 0;
  transition: all 0.7s ease;
}

/* .surf-outline {
  width: 30rem;
  margin-right: var(--padding);
  margin-top: 12rem;
  background-image: url("/img/surf-outline.svg");
  background-position: top center;
} */

.intro-text-callout {
  margin-top: var(--padding);
  align-items: center;
}

.callout-text {
  margin: auto;
}

.intro-text-callout-wrapper {
  max-width: var(--maxBodyCopyWidth);
  margin-top: calc(var(--padding) / 2 );
}

.email-icon-wrapper {
  display: flex;
  align-items: center;
  min-width: 4.3rem;
  max-width: 4.3rem;
  margin-right: 2rem;
  max-height: 4.3rem;
  background: var(--mozGrey);
  border-radius: 50%;
}

.email-icon-wrapper::before,
.email-icon-wrapper::after {
  position: absolute;
  content: "";
  display: flex;
  width: 3.5rem;
  height: 2.25rem;
  background-repeat: no-repeat;
}

.email-icon-wrapper::before {
  background-image: url("/img/email-icon.svg");
  left: .65rem;
}

.email-icon-wrapper::after {
  background-image: url("/img/email-icon-green.svg");
  right: -1rem;
  top: 1.75rem;
}

.email-icon {
  min-width: 2rem;
  max-width: 2rem;
  margin-right: 1rem;
}

h3 {
  font-size: var(--sectionHeadline);
  margin: auto auto calc(var(--padding) * 3) 0;
}

.show-mobile {
  display: none;
}

/* BIOS */

.surf-people {
  justify-content: space-between;
}

.bio-img::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  max-width: 300px;
  content: "";
  display: flex;
  height: 10rem;
  border-radius: 8px;
  margin-bottom: var(--padding);
  filter: grayscale(1);
  transition: filter 0.2s ease;
}

.bio-wrapper:hover .bio-img::before {
  filter: grayscale(0);
  transition: filter 0.2s ease;
}

.thyla::before {
  background-image: url("/img/surf-people/thyla.jpeg");
}

.christoph::before {
  background-image: url("/img/surf-people/chris.jpeg");
}

.steven::before {
  background-image: url("/img/surf-people/steve.jpeg");
}

.bio-wrapper {
  flex: 0 1 30%;
}

.bio-name {
  font-size: 1.5rem;
  margin: auto auto .5rem auto;
}

.bio-title {
  font-size: 1rem;
  margin: auto auto .5rem auto;
}

.bio-affiliation {
  margin: auto auto 1rem auto;
  font-weight: 600;
}

.bio-text {
  font-size: .9rem;
  max-width: 300px;
  margin: auto auto auto 0;
}

.fixed-header-icons {
  background: white;
}

.fixed-contact-menu {
  position: absolute;
  right: 3.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  width: 5rem;
  justify-content: space-between;
}

.fixed-contact-menu > .contact-link {
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
  width: 1.15rem;
  height: 1rem;
  margin: auto;
  opacity: .9;
}

.mobile-menu-fixed {
  visibility: hidden;
  position: absolute;
  top: 0;
  padding: 6rem 0 3rem 0;
  right: 2rem;
  opacity: 0;
  flex-direction: column;
  text-align: right;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, .05);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: -4;
  position: absolute;
  pointer-events: none;
  transform: translateY(-30px);
  min-width: 200px;
  transition: var(--mobileMenuTransitions);
}

.mobile-menu-fixed > .nav-link {
  padding: .5rem var(--padding);
  width: 100%;
  margin: auto;
}

.mobile-menu-fixed > .nav-link:hover {
  background-color: var(--mozGrey);
}

.show-menu {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-menu-button {
  z-index: 5;
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  display: flex;
  border: none;
  transform: scale(.6);
  background: transparent;
  position: absolute;
  right: 1.5rem;
  top: 0;
  bottom: 0;
}

.landing-mobile-menu-button {
  display: none;
}

.mm {
  pointer-events: none;
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000000;
  border-radius: 16px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

span.mm-1 {
  top: .25rem;
}

span.mm-2,
span.mm-3 {
  top: 1rem;
}

span.mm-4 {
  top: 1.75rem;
}

.open span.mm-1 {
  top: 18px;
  width: 0%;
  left: 50%;
}

.open span.mm-2 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open span.mm-3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open span.mm-4 {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-menu-button:focus,
.mobile-menu-button:active {
  outline: none;
  opacity: .7;
}

/* publications */

.publications {
  background-color: var(--mozGrey);
}

.publication-list-item {
  margin-bottom: var(--padding);
  max-width: 660px;
}

.pub-headline {
  margin: 0 auto 4rem 0;
}

.publications-list {
  flex: 1 1 65%;
  max-width: 65%;
  margin: 0 0 auto auto;
  list-style-type: none;
  padding: 0;
}

.pub-title,
.pub-authors,
.pub-date-location {
  margin: 0 auto .35rem 0;
}

.pub-title {
  font-family: var(--Metropolis);
  font-weight: 600;
}

.pub-authors,
.pub-date-location {
  font-weight: 400;
  font-size: .9rem;
  opacity: .7;
}

.docs {
  max-width: 30%;
  width: 30%;
  margin: 0 auto auto 0
}

.doc-1 {
  background-image: url("/img/pub-3d-1.svg");
}
.doc-2 {
  background-image: url("/img/pub-3d-2.svg");
}
.doc-3 {
  background-image: url("/img/pub-3d-3.svg");
}
.doc {
  position: absolute;
  left: -5rem;
  right: 0;
  margin: auto;
  max-width: 465px;
  width: 26vw;
  height: 10rem;
  transition: top 0.3s ease;
}

.init-pages .doc {
  transition: top 0.3s ease;
  transition-delay: .15s;
}

.doc-1 {
  top: 3rem;
}

.doc-2 {
  top: 3rem;
}

.doc-3 {
  top: 4rem;
}

.init-pages .doc-1 {
  top: 1rem;
}

.init-pages .doc-2 {
  top: 3rem;
}

.init-pages .doc-3 {
  top: 5rem;
}

@media screen and (max-width: 1100px) {
  .fixed-header-full-title {
    margin-left: var(--padding);
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  /* hamburger menu replaces links on unfixed header */
  /* full site title moves over to left on fixed-header */

  .fixed-header-full-title {
    margin-left: calc(var(--padding) / 2);
  }

  .fixed-contact-menu {
    right: 2.25rem;
  }

  .desktop-nav {
    display: none;
  }

  .landing-mobile-menu-button {
    display: flex;
    right: -.5rem;
  }

  .mobile-menu-fixed {
    padding-top: 10rem;
    transition: var(--mobileMenuTransitions);
  }
  .slide-in-header .mobile-menu-fixed {
    padding-top: 6rem;
    transition: var(--mobileMenuTransitions);
  }

  .contact-link {
    color: rgba(0, 0, 0, 0);
    font-size: 1px;
    width: 1.15rem;
    height: 1rem;
    margin: auto;
    opacity: .9;
  }
  
  .contact-menu {
    position: absolute;
    right: 2.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    width: 5rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .fixed-header-icons {
    width: 100%;
  }

  .header-full-title {
    max-width: 400px;
  }

  .fixed-header-full-title {
    display: none;
  }

  .surf-people {
    flex-direction: column;
  }

  .bio-img::before {
    width: 200px;
    margin-right: var(--padding);
  }

  .bio-wrapper {
    display: flex;
    margin: auto auto calc(var(--padding) * 2) 0;
  }

  .bio-text {
    max-width: 100%;
  }

  .bio-content {
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 
@keyframes drawBorder {
  0% {
   height: 0px;
  }

  100% {
    height: 100%;
  }
} */
