      <nav class="flx-row {{ fixedClasses }}">
        {{#each (siteLinks)}}
          <a href="{{ this.linkHref }}" class="nav-link ff-Met {{ mobileNavLinkClasses }}">{{ this.linkTitle }}</a>
        {{/each}}
      </nav>
